.application-form__field {
  margin-bottom: 20px;
}

.application-form button {
  cursor: pointer;
}

.application-form__field label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.application-form__field input {
  width: 100%;
  height: 48px;
  padding-left: 27px;
  padding-right: 20px;
  padding-top: 10px;
  letter-spacing: 0.3px;
  background: $white;
  border-radius: 4px;
  border: 1px solid $border-grey;
  appearance: none;

  &:hover {
    opacity: 0.8;
  }

  @include tablets {
    padding-top: 4px;
    padding-left: 20px;
  }

  @include phones {
    width: 288px;
    padding-top: 6px;
    padding-left: 25px;
  }
}

.application-form__field:last-of-type {
  margin-bottom: 20px;

  @include phones {
    margin-bottom: 17px;
  }
}

.application-form__field input::placeholder {
  font-family: $base-font;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: $black-opacity;
  letter-spacing: 0.3px;
}

.application-form__field input::-webkit-input-placeholder {
  font-family: $base-font;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: $black-opacity;
  letter-spacing: 0.3px;
}

.application-form__field input::-moz-placeholder {
  font-family: $base-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $black-opacity;
  letter-spacing: 0.3px;
}
