.header {
  min-height: 825px;
  background: url("../img/bike-background-desktop@1x.jpg") no-repeat;
  background-color: $black;
  background-position: center;
  background-size: cover;

  @include retina {
    background: url("../img/bike-background-desktop@2x.jpg") no-repeat;
    background-size: cover;
  }

  @include tablets {
    min-height: initial;
    background: none;
  }
}
