.main-info {
  width: 879px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 255px;

  @include tablets {
    width: auto;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
}

.main-info__left {
  width: 393px;

  @include tablets {
    width: 100%;
    background-image: url("../img/bike-background-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-color: $black;
    background-size: cover;
    min-height: 340px;

    @include retina {
      background-image: url("../img/bike-background-tablet@2x.jpg");
    }
  }

  @include phones {
    background-image: url("../img/bike-background-mobile@1x.jpg");
    min-height: 390px;

    @include retina {
      background-image: url("../img/bike-background-mobile@2x.jpg");
    }
  }
}

.main-info__left img {
  @include tablets {
    display: block;
    margin-left: 21px;
    margin-top: 13px;
  }

  @include phones {
    margin-left: 17px;
  }
}

.main-info__left h1 {
  color: $white;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 1.56px;
  margin-top: 28px;
  margin-bottom: 23px;

  @include tablets {
    color: $white;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.56px;
    margin-top: 82px;
    margin-bottom: 0;
  }

  @include phones {
    margin-top: 67px;
  }
}

.main-info__left p {
  color: $white-opacity-low;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  @include tablets {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: $white-opacity-low;
    width: 435px;
    margin: 0 auto;
    margin-top: 20px;
  }

  @include phones {
    width: 288px;
  }
}

.main-info__right  form{
  width: 327px;
  display: flex;
  flex-direction: column;

  @include tablets {
    margin-top: 65px;
    width: 322px;
  }

  @include phones {
    width: 100%;
    padding: 0 16px;
    align-items: center;
  }
}

.main-info__right h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  text-align: center;
  margin-top: 7px;
  letter-spacing: 0.3px;
  margin-bottom: 17px;

  @include tablets {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $black;
    letter-spacing: 0;
    margin-bottom: 29px;
  }

  @include phones {
    margin-bottom: 19px;
  }
}
