.main-nav {
  width: 873px;
  padding-top: 21px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $white-opacity-extra;
  padding-bottom: 9px;
}

.main-nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $white-opacity;
  opacity: 0.7;
}
