.mobile-header {
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
    min-height: 340px;
    background: url("/img/bike-background-tablet.jpg") no-repeat;
    background-size: cover;
  }

  @include phones {
    background: url("/img/bike-background-mobile.jpg") no-repeat;
    min-height: 390px;
  }
}

.mobile-header__button_no-js {
  display: none;
}

.mobile-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;

  @include phones {
    padding-left: 16px;
  }
}

.mobile-header__top img {
  display: block;
  margin-top: 20px;
}

.mobile-header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-header__bottom p:first-of-type {
  color: $white;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.56px;
  margin-top: 82px;
  margin-bottom: 0;

  @include phones {
    margin-top: 67px;
  }
}

.mobile-header__bottom p:last-of-type {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: $white-opacity-low;
  width: 435px;
  margin-top: 20px;

  @include phones {
    width: 100%;
  }
}
