@mixin desktop-middle {
  @media screen and (max-width: 1290px) {
    @content;
  }
}

// @mixin desktop-min {
//   @media screen and (max-width: 1170px) {
//     @content;
//   }
// }

@mixin tablets {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin retina {
  @media screen and (min-resolution: 2dppx) {
    @content;
  }
}
