// Colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.7);
$white-opacity-low: rgba(255, 255, 255, 0.8);
$white-opacity-extra: rgba(255, 255, 255, 0.2);
$border-grey: #c9ccd4;
$black-opacity: rgba(28, 28, 28, 0.5);
$black-opacity-low: rgba(0, 0, 0, 0.7);
$black-opacity-extra: rgba(0, 0, 0, 0.5);
$turquoise: #0ad9c6;
$black: #000000;
$light-black: #48494d;
$grey-menu: #f6f6f6;
$special-black: #1f1f1f;
$light-blue: #f6f7f9;
$black-background: #131314;

//fonts
$base-font: "Open Sans", "Arial", sans-serif;
